@use 'mixins';

/*      FOOTER Index  */

.footerMain {
    .footers__content  {
        @include mixins.footContent;
    }
    .footers__logo {
        width: 150px;
        filter: invert(100%) brightness(100%);
    }  
    .footers__content a {
        color: white;
    } 
}

                        /*   FOOTER Page   */

.footerPage {
    margin-top: 54rem;
    width: 100%;
    display: block;
    position: absolute;
    z-index: 3;
    .footers__content {
        @include mixins.footContent;    
}
    .footers__logo {
        width: 150px;
        filter: invert(100%) brightness(100%);
    }   
    .footers__list {
        @include mixins.flex-column;
    }
}
.footers__content a {
    color: white;
}