                          /*      FOOTER     */

.footerMain__content  {
    background-color: black;
    color: white;
    padding: 20px;
    line-height: 30px;
    margin-top: 0px;
    .footerMain__logo {
        width: 150px;
        filter: invert(100%) brightness(100%);
    }  
}
.footerMain__content a {
    color: white;
}

/* page */

.footerPage {
    margin-top: 80rem;
    width: 100%;
    display: block;
    position: absolute;
    z-index: 3;
}

.footerPage__content {
    background-color: black;
    color: white;
    padding: 20px;
    line-height: 30px;
    margin-top: 0px; 
    .footerPage__logo {
        width: 150px;
        filter: invert(100%) brightness(100%);
    }   
}
.footerPage__content a {
    color: white;
}
.footerPage__list {
    display: flex;
    flex-direction: column;
}



