@use 'mixins';
@use 'variables';

               /*   HEADER page accueil   */

.main-header {
    .main-header__logo {
        @include mixins.flex-column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
        .main-header__main-logo {
            padding: 20px 20px 10px 20px;
            width: 200px;
            height: 34px;
        }
    .main-header__map-icon {
        @include mixins.flex-row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2px;
        background-color: #e5e2e2;
    }
    .main-header__city {
            padding: 20px;
    }
    
}

                    /*   HEADER page menu */

.myHeader {  
    @include mixins.flex-row;
   
    .myHeader__iconGroup {
        @include mixins.flex-row;  
    }
    .myHeader__backLink {
        width: 30px;
        padding-top: 20px;
        margin-left: 20px;
    } 
    .myHeader__backIcon {
        font-size: 17px;
        
    }  
    .myHeader__imgLogo {
        @include mixins.flex-row;
        @include mixins.logo-size;
        padding: 10px;
        margin: auto;     
        padding-right: 60px;
    }    
}

