                              /*   HEADER  */
.main-header {
    .main-header__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
        .main-header__main-logo {
            padding: 20px 20px 10px 20px;
            width: 200px;
            height: 34px;
        }
    .main-header__map-icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2px;
        background-color: darken($color: #F6F6F6, $amount: 6);
    }
    .main-header__city {
            padding: 20px;
    }
    
}

/*     Page    */

.myHeader {
    
    .myHeader__band {
        display: flex;
        flex-direction: row; 
    }
    .myHeader__back-link {
        width: 30px;
        padding: 20px;
    } 
    .myHeader__back-icon {
        font-size: 17px;
        padding: -10px;
    }   
    .myHeader__header {
        display: flex;
        flex-direction: row;
        padding: 10px;
        width: 200px;
        height: 34px;       
    }   
    .myHeader__img {
        display: block;
        height: auto;
        aspect-ratio: 16/9;
        width: 100%;
        margin: 0px;
        object-fit: cover;
        // @include mixins.image
        
    }    
}

.bloc1 {
    position: relative;
    z-index: 1;
    
}

.bloc2 {
    position: absolute;
    top: 30%;
    right: 0%;
    left: 0%;
    z-index: 2;
    border-radius: 20px 20px 0px 0px;
    margin-top: 80px;
    background-color: #F3F3F3;
}