.card .card__img {
    height: 300px;
    /*aspect-ratio: 9/6;
    clip-path: inset(0px 0px 0px 0px);
*/
}
.card {
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    display: flex;     
    .card__image-band {
        position: relative; 
    }
    .card__img {
        
        aspect-ratio: 16/8;
        width: 100%;
        margin: 0px;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px; 
    }
    .card__badge {
        position: absolute;
        top: 10%;
        left: 72%;
        padding: 6px 10px;
        background-color: #F3F3F3;
    }   
    .card__info {
        display: flex;
        flex-direction: column;
        
        padding: 10px 10px;
    }
    .card__title {
        display: flex;
        flex-direction: row;
        
        justify-content: space-between; 
        font-weight: bolder;
    font-size: 18px;  
    color: black;
        
    }
    .card__like label {
        font-size: 24px; 
        color: black;
        cursor: pointer;
        transition: color 0.3s ease;
    }
    .card__like {
        display: flex;
        justify-content: flex-end;
        align-items: start;
        margin-top: -20px;
    }
}