@use 'mixins';
@use 'variables';

                            /* IMAGE Page menu*/

.imageMyResto {
    .imageMyResto__page1 {
        aspect-ratio: 16/8;
        @include mixins.image;
    }
    .imageMyResto__page2 {
        aspect-ratio: 16/10;
        @include mixins.image;
        /*clip-path: inset(20px 0px 0px 0px);*/
    }
}

                        /*   MAIN Page  */

body {
    .bloc1 {
        position: relative;
        z-index: 1;  
    }
    .bloc2 {
        position: relative;
        z-index: 2;
    }
    .bloc3 {
        position: absolute;
        right: 0%;
        left: 0%;
        z-index: 3;
        border-radius: 20px 20px 0px 0px;
        margin-top: -40px;
        background-color: variables.$light-gray;
    }
}                           

.myResto {
    @include mixins.flex-column-justSpaceBetween;
    padding: 20px;
    .myResto__title-group {
        @include mixins.flex-row-justSpaceBetween;
        padding: 10px 10px 30px 0px;
        font-family: "Shrikhand", serif;
        font-weight: 400;
        font-size: 28px;
    }    
    .menu__entree-title {
        border-bottom: solid variables.$light-green;
        padding-bottom: 5px;
        width: 12%;
    }
    .menu__plat-title {
        border-bottom: solid variables.$light-green;
        padding-bottom: 5px;
        width: 12%;
    }
    .menu__dessert-title {
        border-bottom: solid variables.$light-green;
        padding-bottom: 5px;
        width: 12%;
    }
}

.menuBtn {
    position: relative;
    @include mixins.flex-row-justSpaceBetween;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 0px;
    margin: 10px -12px 10px -12px;
    cursor: pointer; 
    color: black;
    overflow: hidden;
    .menuBtn__text {
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        flex-grow: 1; /* Permet au texte de s’adapter */
        .menuBtn__text--title {
            font-weight: bolder;
            font-size: 18px;  
            color: black;
        }      
        .menuBtn__text--content {
            @include mixins.flex-row-justSpaceBetween;
            font-size: 15px;
            line-height: 20px;
        } 
    }
    .menuBtn__groupPriceIcon {
        @include mixins.flex-row;
        justify-content: flex-end;
        align-items: flex-end;
        margin-right: 0px;
        .menuBtn__group--price {
            margin-right: 0px;
            padding-bottom: 10px; 
            padding-right: 16px; 
            transition: transform 1s linear; /* Durée 1s avant un effet fluide*/    
        } 
        .menuBtn__group--icon {
            position: absolute;
            top: 0px;
            margin-right: -66px;
            background-color: variables.$light-green;
            border-radius: 0px 10px 10px 0px;
            padding: 10px 30px 14px 10px; /* augmente taille Btn*/
            font-size: 34px;
            opacity: 1; /* opacity du btn icon aller-retour de transition*/
            transition: transform 1s linear, opacity 0.2s ease-out;
        }
        .menuBtn__group--check {
            background-color: white;
            color: variables.$light-green;
            border-radius: 50px;
            font-size: 24px;
        }
    }  
}  

                        /* Animation avec text-overflow */

.menuBtn:hover .menuBtn__text--title h2,
.menuBtn:hover .menuBtn__text--content p {
    white-space: nowrap; /* Empêche le retour à la ligne */
    overflow: hidden; /* Cache le texte dépassant */
    text-overflow: ellipsis; /* Ajoute les "..." */
    width: calc(100% - 50px); /* Ajuste la largeur pour éviter le décalage */
}
.menuBtn:hover .menuBtn__group--icon {
    transform: translateX(-60px); /* Glisse vers la gauche */
    opacity: 2;
    margin-left: 30px; /* Espacement */ 
}
.menuBtn:hover .menuBtn__group--price {
    transform: translateX(-50px);   
}

                     /* Animation apparition carte menu */

.btn1, .btn2, .btn3 {
    opacity: 0; /* Caché au départ */
    transform: translateY(20px); /* Légèrement décalé vers le bas */
    animation: fadeInUp 1s ease-in-out forwards;
}
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px); /* Départ décalé vers le bas */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Position finale normale */
    }
  }
.btn1 {
    animation-delay: 0.5s; /* apparition btn1 */
}
.btn2 {
    animation-delay: 0.9s; /* apparition btn2 */
}
.btn3 {
    animation-delay: 1.3s; /* apparition btn3 */
}
                             /*  BOUTON de commande */
                             
.orderBtn, .orderBtnPage { 
    border: transparent;
    padding: 16px 26px;
    border-radius: 50px;
    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
    margin: 30px;
    box-shadow: 1px 3px 2px 1px rgba(91, 91, 95, 0.2);
    &:hover {
        opacity: 0.80;
        box-shadow: 1px 3px 2px 1px rgba(91, 91, 95, 0.4);
    }
}
.orderBtnPage {
    padding: 12px 36px;
}
        /*  bouton commande page */
.order-btn {
    @include mixins.flex-row;
    justify-content: center;
}

li {
    margin-right: 0px;
}
                          /* Animation card page */

@keyframes fadeOut {
    0% {
      opacity: 1; /* Visible au départ */
    }
    100% {
      opacity: 0; /* invisible après 3s */
      visibility: hidden; /* Retiré de la page après 3s */
    }
}
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
                        /* Affiche contenu après 3 secondes */

body.content {
    display: block;
    overflow: auto;            /* Réactive le scrolling */
}




