@use 'mixins';
@use 'variables';
@use 'reset'; // Import du fichier _reset.scss

* a {
    text-decoration: none;
    color: #000;
}
*,
*::before
*::after {
    box-sizing: border-box;
}

                              /*   HEADER  */

.main-logo {
    padding: 20px 90px;
    @include mixins.logo-size;
}
.geolocal {
    padding: 20px 100px;
    background-color: darken($color: #F6F6F6, $amount: 6);
}
.ville {
    padding: 20px;
}


body {
    font-family: 'Roboto', Arial, sans-serif;
}


input {
    border: none;
}



                                /*    SECTION INFO    */


.info {
    text-align: center;
    background-color: variables.$light-gray;
}

.title {
    @include mixins.font-title;
    padding: 20px 80px 10px 20px;   
}
.main-title {
    @include mixins.font-title;
    padding: 20px 80px 10px 60px;   
}
.text {
    padding: 0px 50px 20px 20px;
}

.command-btn { 
    border: transparent;
    padding: 12px 15px;
    border-radius: 50px;
    background: variables.$button-color;
    margin: 40px 100px;
}

                                /*  NAV  */

.navlist {
    border-radius: 20px;
    margin: 20px;
    background-color: variables.$light-gray;
    transition-property: transform;
    transition-duration: 100ms;
    &:hover {
        transform: scale(1.03);
    }
}
.navlist-icone {
    padding: 20px 30px 20px 30px;
}
.navlist-icone {
    color: variables.$purple;
    
 
}
.list-number {
    margin: -4px;
    padding: 6px 8px;
    border-radius: 50px;
    font-size: x-small;
    background-color: variables.$purple;
    color: white;
}
.btn-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    line-height: 20px;
}
.btn {
    @include mixins.button(white);
}
.btn-title, .card-title {
    @include mixins.card-title(black);
}         
                            /*    MAIN      */

.card {
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    margin: 20px;
}
.card-txt {
    display: grid;
    grid-template: 1fr 1fr 1fr;
    gap: 5px;
    padding: 10px;
}

.card-title {
    grid-row: 1;
    grid-column: 1;
}
.card-subtitle {
    grid-column: 1;
    grid-row: 2;
    
}
.card-rating {
    grid-column: 3;
    grid-row: 1;
    padding-left: 80px;
}

.img-restaurant {
    @include mixins.image;
    border-radius: 20px 20px 0px 0px;
    
}
.image-textover {
    position: relative;
}
.text-over {
    position: absolute;
    top: 10%;
    left: 75%;
    padding: 6px 10px;
    background-color: variables.$light-green;
}
.nos-restaurants {
    background-color: variables.$light-gray;
}

                          /*     MAIN       */

.main-page {
    background-color: variables.$light-gray;
    border-radius: 30px 30px 0px 0px;
   
}
.container {
    background-color: variables.$light-gray;
    padding: 10px;
}



                          /*      FOOTER     */

.footer-content {
    background-color: black;
    color: white;
    padding: 20px;
    line-height: 30px;
}
.footer-content a {
    color: white;
}
.footer__logo {
    width: 150px;
    filter: invert(100%) brightness(100%);
    
}  


                                  /*    PAGE    */

.header-content {
    display: flex;
    flex-direction: row; 
}
.price {
    border: transparent;
}

.header__link {
    width: 30px;
    padding: 20px;
}

.header__logo {
    @include mixins.logo-size;
}

.page-title {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-size: 28px;
    
}
.img-page {
    @include mixins.image;
}

.title-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 10px 30px 0px;
}

.element1 {
    position: relative;
    z-index: 1;
}
.element2 {
    position: absolute;
    top: 30%;
    right: 0%;
    left: 0%;
    z-index: 2;
    border-radius: 20px;
}
.menu-title {
    border-bottom: solid variables.$light-green;
    padding-bottom: 5px;
    width: 12%;
}