@charset "UTF-8";
/* Reset SCSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*   HEADER ACCUEIL   */
.main-header .main-header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main-header .main-header__main-logo {
  padding: 20px 20px 10px 20px;
  width: 200px;
  height: 34px;
}
.main-header .main-header__map-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2px;
  background-color: #e5e2e2;
}
.main-header .main-header__city {
  padding: 20px;
}

/*   HEADER Page */
.myHeader {
  display: flex;
  flex-direction: row;
}
.myHeader .myHeader__iconGroup {
  display: flex;
  flex-direction: row;
}
.myHeader .myHeader__backLink {
  width: 30px;
  padding-top: 20px;
  margin-left: 20px;
}
.myHeader .myHeader__backIcon {
  font-size: 17px;
}
.myHeader .myHeader__imgLogo {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 34px;
  padding: 10px;
  margin: auto;
  padding-right: 60px;
}

/*      FOOTER Index  */
.footerMain .footers__content {
  background-color: #353535;
  color: white;
  padding: 20px;
  line-height: 30px;
  margin-top: 0px;
}
.footerMain .footers__logo {
  width: 150px;
  filter: invert(100%) brightness(100%);
}
.footerMain .footers__content a {
  color: white;
}

/*   FOOTER Page   */
.footerPage {
  margin-top: 54rem;
  width: 100%;
  display: block;
  position: absolute;
  z-index: 3;
}
.footerPage .footers__content {
  background-color: #353535;
  color: white;
  padding: 20px;
  line-height: 30px;
  margin-top: 0px;
}
.footerPage .footers__logo {
  width: 150px;
  filter: invert(100%) brightness(100%);
}
.footerPage .footers__list {
  display: flex;
  flex-direction: column;
}

.footers__content a {
  color: white;
}

/*   PAGE d'accueil  */
/*    SECTION INFO    */
.info {
  text-align: center;
  background-color: #F3F3F3;
}
.info .info__title {
  font-weight: bolder;
  font-size: 24px;
  padding: 20px 60px 10px 60px;
}
.info .info__text {
  padding: 0px 50px 20px 20px;
}

/*  NAV  */
.navi {
  margin-bottom: 60px;
}
.navi .navi__title {
  font-weight: bolder;
  font-size: 24px;
  padding: 20px 80px 10px 20px;
}
.navi .navi__list {
  cursor: default;
}
.navi .navi__list-group {
  border-radius: 24px;
  margin: 20px 20px 0px 20px;
  background-color: #F3F3F3;
  transition-property: transform;
  transition-duration: 100ms;
  padding: 10px 30px 10px 10px;
}
.navi .navi__list-group .navi__list--number {
  margin: -24px;
  padding: 6px 8px;
  border-radius: 50px;
  font-size: x-small;
  background-color: #9356DC;
  color: white;
}
.navi .navi__list-group .navi__list--icon {
  padding: 20px 30px 20px 30px;
  color: gray;
}
.navi .navi__list-group .navi__list--icon3 {
  color: #9356DC;
  padding: 20px 30px 20px 30px;
}

/*    MAIN      */
.theResto {
  background-color: #F3F3F3;
}
.theResto .theResto__title {
  font-weight: bolder;
  font-size: 24px;
  margin-left: 20px;
  padding-top: 50px;
}
.theResto .theResto__content1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.theResto .theResto__content2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.card .card__image {
  height: 10px;
  width: 100%;
  object-fit: cover;
}

.card {
  background-color: white;
  margin: 20px;
  border-radius: 20px;
}
.card .card__imageBand {
  position: relative;
}
.card .card__imageBand .card__imageBand--image {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.card .card__imageBand .card__imageBand--badge {
  position: absolute;
  top: 10%;
  left: 72%;
  padding: 6px 10px;
  color: green;
  background-color: #99E2D0;
}
.card .card__info {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}
.card .card__info .card__info--title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bolder;
  font-size: 18px;
  color: black;
}
.card .card__info .card__info--like {
  display: flex;
  justify-content: flex-end;
  align-items: start;
  margin-top: -20px;
}
.card .card__info .card__info--like label {
  font-size: 24px;
  color: black;
  cursor: pointer;
  transition: color 0.3s ease;
}

/*  ICON Like */
.hidden-checkbox {
  display: none; /* Cache la case à cocher */
}

/* Icône par défaut (vide) */
.hidden-checkbox + label {
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

/* Changement de l'icône lorsqu'elle est cochée */
.hidden-checkbox:checked + label::before {
  font-family: "Font Awesome 6 Free"; /* Font Awesome */
  font-weight: 900; /* Passe en fa-solid */
  content: "\f004"; /* Code unicode pour le cœur plein */
  background: linear-gradient(175deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

/*   <i class="fa-solid fa-heart heart__full"></i>
<i class="fa-regular fa-heart heart__empty"></i> */
/*      FOOTER     */
/* IMAGE Page menu*/
.imageMyResto .imageMyResto__page1 {
  aspect-ratio: 16/8;
  /*aspect-ratio: 16/9;*/
  width: 100%;
  margin: 0px;
  object-fit: cover;
}
.imageMyResto .imageMyResto__page2 {
  aspect-ratio: 16/10;
  /*aspect-ratio: 16/9;*/
  width: 100%;
  margin: 0px;
  object-fit: cover;
  /*clip-path: inset(20px 0px 0px 0px);*/
}

/*   MAIN Page  */
body .bloc1 {
  position: relative;
  z-index: 1;
}
body .bloc2 {
  position: relative;
  z-index: 2;
}
body .bloc3 {
  position: absolute;
  right: 0%;
  left: 0%;
  z-index: 3;
  border-radius: 20px 20px 0px 0px;
  margin-top: -40px;
  background-color: #F3F3F3;
}

.myResto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.myResto .myResto__title-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px 30px 0px;
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-size: 28px;
}
.myResto .menu__entree-title {
  border-bottom: solid #99E2D0;
  padding-bottom: 5px;
  width: 12%;
}
.myResto .menu__plat-title {
  border-bottom: solid #99E2D0;
  padding-bottom: 5px;
  width: 12%;
}
.myResto .menu__dessert-title {
  border-bottom: solid #99E2D0;
  padding-bottom: 5px;
  width: 12%;
}

.menuBtn {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 0px;
  margin: 10px -12px 10px -12px;
  cursor: pointer;
  color: black;
  overflow: hidden;
}
.menuBtn .menuBtn__text {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  flex-grow: 1; /* Permet au texte de s’adapter */
  /*min-width: 0; /* Empêche le texte de forcer un dépassement */
  /* fin difference sauv*/
  /*.menuBtn__text {
      max-width: 300px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

  }*/
}
.menuBtn .menuBtn__text .menuBtn__text--title {
  font-weight: bolder;
  font-size: 18px;
  color: black;
}
.menuBtn .menuBtn__text .menuBtn__text--content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  line-height: 20px;
}

.menuBtn__groupPriceIcon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 0px;
  /* diff sauv margin-right: -6Opx;*/
}
.menuBtn__groupPriceIcon .menuBtn__group--price {
  margin-right: 0px;
  padding-bottom: 10px;
  padding-right: 16px;
  /*transform: 2s ease-in-out translateX(-18px) ease-in-out; /* Décalage progressive vers la gauche à cause du nbre négat*/
  transition: transform 1s linear; /* Durée avant 1s avant un effet fluide*/
}
.menuBtn__groupPriceIcon .menuBtn__group--icon {
  position: absolute;
  top: 0px;
  margin-right: -66px;
  background-color: #99E2D0;
  border-radius: 0px 10px 10px 0px;
  padding: 10px 30px 14px 10px; /* augmente taille Btn*/
  font-size: 34px;
  opacity: 0;
  transition: transform 1s linear, opacity 0.2s ease-out;
}
.menuBtn__groupPriceIcon .menuBtn__group--check {
  background-color: white;
  color: #99E2D0;
  border-radius: 50px;
  font-size: 24px;
}

/* Active text-overflow SEULEMENT au survol */
.menuBtn:hover .menuBtn__text--title h2,
.menuBtn:hover .menuBtn__text--content p {
  white-space: nowrap; /* Empêche le retour à la ligne */
  overflow: hidden; /* Cache le texte dépassant */
  text-overflow: ellipsis; /* Ajoute les "..." */
  width: calc(100% - 50px); /* Ajuste la largeur pour éviter le décalage */
  transform: translateX();
}

.menuBtn:hover .menuBtn__group--icon {
  transform: translateX(-60px); /* Glisse vers la gauche */
  opacity: 2;
  margin-left: 30px; /* Espacement */
}

.menuBtn:hover .menuBtn__group--price {
  transform: translateX(-50px);
}

/* Animation apparition carte menu */
.btn1, .btn2, .btn3 {
  opacity: 0; /* Caché au départ */
  transform: translateY(20px); /* Légèrement décalé vers le bas */
  animation: fadeInUp 1s ease-in-out forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Départ décalé vers le bas */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Position finale normale */
  }
}
.btn1 {
  animation-delay: 0.5s; /* apparition btn1 */
}

.btn2 {
  animation-delay: 0.9s; /* apparition btn2 */
}

.btn3 {
  animation-delay: 1.3s; /* apparition btn3 */
}

/*  BOUTON de commande */
.orderBtn, .orderBtnPage {
  border: transparent;
  padding: 16px 26px;
  border-radius: 50px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  margin: 30px;
  box-shadow: 1px 3px 2px 1px rgba(91, 91, 95, 0.2);
}
.orderBtn:hover, .orderBtnPage:hover {
  opacity: 0.8;
  box-shadow: 1px 3px 2px 1px rgba(91, 91, 95, 0.4);
}

.orderBtnPage {
  padding: 12px 36px;
}

/*  bouton commande page */
.order-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li {
  margin-right: 0px;
}

/* Animation card page */
@keyframes fadeOut {
  0% {
    opacity: 1; /* Visible au départ */
  }
  100% {
    opacity: 0; /* invisible après 3s */
    visibility: hidden; /* Retiré de la page après 3s */
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Affiche contenu après 3 secondes */
body.content {
  display: block;
  overflow: auto; /* Réactive le scrolling */
}

/*    Accueil     */
@media screen and (min-width: 1024px) {
  .main-header__logo {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .myHeader .myHeader__logoGroup {
    display: flex;
    flex-direction: row;
  }
  .myHeader .myHeader__imgLogo {
    padding-left: 30px;
  }
  .myResto .myResto__title-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .myResto .myResto__title {
    margin-right: 20px;
  }
  .navi .navi__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .navi .navi__list-text {
    padding-right: 50px;
  }
  /*   Main   */
  .theResto .theResto__group1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  .theResto .theResto__group2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  .card {
    width: 100%;
  }
  /*
  .imgPage {
      clip-path: inset(30% 0 % 0);
  }*/
  /*    Page    */
  .bloc1__headerPage--logo {
    margin-left: 370px;
  }
  .bloc2 {
    margin-top: 0px;
  }
  .bloc3 {
    margin-left: 140px;
    margin-right: 140px;
  }
  .orderBtn {
    margin-left: 30px;
  }
  li {
    margin-right: 20px;
  }
  /*     Foooter  */
  .footerPage {
    margin-top: 54rem;
  }
  .footerPage .footers__content {
    display: flex;
    flex-direction: row-reverse;
  }
  .footerPage .footers__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footerMain {
    margin-top: 0rem;
  }
  .footerMain .footers__content {
    display: flex;
    flex-direction: row-reverse;
  }
  .footerMain .footers__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .container {
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 200px;
  }
}
* a {
  text-decoration: none;
  color: #000;
}

*,
*::before *::after {
  box-sizing: border-box;
}

body {
  width: 100% px;
  min-width: 360px;
  font-family: "Roboto", Arial, sans-serif;
}

input {
  border: none;
}

/*   LOADER   */
.content__loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Le loader est au-dessus de tout */
  animation: fadeOut 3s forwards ease-in-out; /* Disparaît après 3 secondes */
  /* Style du loader (cercle animé) */
}

.content__loader-page {
  width: 50px;
  height: 50px;
  border: 5px solid #007BFF; /* Bordure bleue */
  border-top: 5px solid transparent; /* Bordure supérieure transparente */
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Rotation infinie */
}

.content {
  display: none; /*mon body caché tant que loader visible */
}

/* Affiche contenu une fois loader disparaît */
.content__loader {
  animation: fadeOut 3s forwards ease-in-out;
}

/*# sourceMappingURL=style.css.map */
